In Class Project 5/ICP 5
[{"id":"81637425.0be518","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"180642b8.20821d","type":"openweathermap","z":"81637425.0be518","name":"","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"Jackson","language":"en","x":270,"y":520,"wires":[["3de0ffd0.23f17","68f1c536.21849c"]]},{"id":"3de0ffd0.23f17","type":"function","z":"81637425.0be518","name":"extractTweetMessage","func":"\nmsg.payload = msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":520,"wires":[["b24a889c.461928","3c9daaba.7f6356"]]},{"id":"b24a889c.461928","type":"twitter out","z":"81637425.0be518","twitter":"","name":"Tweet","x":670,"y":520,"wires":[]},{"id":"68f1c536.21849c","type":"mqtt out","z":"81637425.0be518","name":"","topic":"noderedlecture/sensor","qos":"","retain":"","broker":"f041a767.e3e378","x":480,"y":460,"wires":[]},{"id":"3c9daaba.7f6356","type":"websocket out","z":"81637425.0be518","name":"","server":"","client":"2c753f43.52f16","x":730,"y":580,"wires":[]},{"id":"bcb76b29.c8f4f8","type":"websocket in","z":"81637425.0be518","name":"","server":"","client":"2c753f43.52f16","x":240,"y":680,"wires":[["2028cb13.e1ff04"]]},{"id":"d76d605a.56aa","type":"mqtt in","z":"81637425.0be518","name":"","topic":"noderedlecture/sensor","qos":"2","broker":"3732f7e4.7cf5b8","x":120,"y":600,"wires":[["7ec4ec6c.80b1f4"]]},{"id":"7ec4ec6c.80b1f4","type":"json","z":"81637425.0be518","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":600,"wires":[["2028cb13.e1ff04"]]},{"id":"2028cb13.e1ff04","type":"debug","z":"81637425.0be518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":680,"wires":[]},{"id":"882d2e9d.11bde","type":"switch","z":"81637425.0be518","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"21","vt":"num"},{"t":"btwn","v":"17","vt":"num","v2":"21","v2t":"num"},{"t":"lt","v":"17","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":240,"wires":[["24d34214.92ecfe","180642b8.20821d","22bcfce7.f49194"],["180642b8.20821d","bb607cee.636a9","22bcfce7.f49194"],["180642b8.20821d","ae62b733.7637b8","22bcfce7.f49194"]]},{"id":"8af890a.d71a57","type":"inject","z":"81637425.0be518","name":"Start","topic":"","payload":"Lucky powerball #","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["84c4f209.0766c"]]},{"id":"84c4f209.0766c","type":"function","z":"81637425.0be518","name":"","func":"rand = Math.round(Math.random()*100);\nmsg.payload = rand;\n//msg.payload = 120;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":240,"wires":[["f0c63c6b.a11e3","f87d263e.54bb88"]]},{"id":"cb65702.ae1dc9","type":"debug","z":"81637425.0be518","name":"over 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":180,"wires":[]},{"id":"e9c898c3.8b2b48","type":"debug","z":"81637425.0be518","name":"17-21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":220,"wires":[]},{"id":"c4c02c43.b861d","type":"debug","z":"81637425.0be518","name":"less then 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":260,"wires":[]},{"id":"24d34214.92ecfe","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Don't play Black Jack tonight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["cb65702.ae1dc9"]]},{"id":"f0c63c6b.a11e3","type":"range","z":"81637425.0be518","minin":"0","maxin":"40","minout":"1","maxout":"10","action":"clamp","round":false,"property":"payload","name":"","x":330,"y":240,"wires":[["882d2e9d.11bde"]]},{"id":"ae62b733.7637b8","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not your day to be playing Black Jack","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["c4c02c43.b861d"]]},{"id":"bb607cee.636a9","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"You should play Black Jack Tonight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["e9c898c3.8b2b48"]]},{"id":"50feeeee.3e38d","type":"debug","z":"81637425.0be518","name":"weather ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":340,"wires":[]},{"id":"22bcfce7.f49194","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Weather posted to Twitter Account","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["50feeeee.3e38d"]]},{"id":"f87d263e.54bb88","type":"rbe","z":"81637425.0be518","name":"","func":"narrowbandEq","gap":"500%","start":"50","inout":"out","property":"payload","x":350,"y":180,"wires":[["97c14aa5.2b5168"]]},{"id":"710b1ed6.73084","type":"http in","z":"81637425.0be518","name":"","url":"Gambling","method":"get","upload":false,"swaggerDoc":"","x":260,"y":800,"wires":[["f33c99c6.e21e08"]]},{"id":"f33c99c6.e21e08","type":"template","z":"81637425.0be518","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<html>\n    <table cellspacing=5 cellpadding=5>\n        <tr>\n            <th colspan=3>\n                Casino Website\n            </th>\n        </tr>\n        <tr>\n            <td>\n                Ameristar Casino\n            </td>\n            <td>\n                <a href=https://www.ameristar.com/>\n                    Website\n                </a>\n            </td>\n            <td>\n                <a href=http://127.0.0.1:1880/Ameristar>\n                    Ameristar Image\n                </a>\n            </td>\n        </tr>\n        <tr>\n            <td>\n                Harrah's Casino\n            </td>\n            <td>\n                <a href=https://www.caesars.com/harrahs>\n                    Website\n                </a>\n            </td>\n            <td>\n                <a href=http://127.0.0.1:1880/Harrah's>\n                    Harrah's Image\n                </a>\n            </td>\n        </tr>\n    </table>\n</html>","output":"str","x":440,"y":800,"wires":[["f7b0bceb.1744f"]]},{"id":"f7b0bceb.1744f","type":"http response","z":"81637425.0be518","name":"","statusCode":"","headers":{},"x":630,"y":800,"wires":[]},{"id":"6d9fdaed.f3b874","type":"debug","z":"81637425.0be518","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":140,"wires":[]},{"id":"97c14aa5.2b5168","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error - Try again later","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["6d9fdaed.f3b874"]]},{"id":"bbbf6c86.9f89e","type":"file in","z":"81637425.0be518","name":"","filename":"C:\\Users\\SangLy\\Desktop\\harrah.jpg","format":"","chunk":false,"sendError":true,"x":370,"y":920,"wires":[["5bc545a4.4de32c"]]},{"id":"5bc545a4.4de32c","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":860,"wires":[["31aeb83e.c24608"]]},{"id":"c93c0c58.1647f","type":"http in","z":"81637425.0be518","name":"","url":"/Harrah's","method":"get","upload":false,"swaggerDoc":"","x":110,"y":920,"wires":[["bbbf6c86.9f89e"]]},{"id":"31aeb83e.c24608","type":"http response","z":"81637425.0be518","name":"","statusCode":"","headers":{},"x":770,"y":920,"wires":[]},{"id":"56c4703e.ae7a1","type":"file in","z":"81637425.0be518","name":"","filename":"C:\\Users\\SangLy\\Desktop\\ameristar.jpg","format":"","chunk":false,"sendError":true,"x":380,"y":980,"wires":[["5a3aabf2.291264"]]},{"id":"5a3aabf2.291264","type":"change","z":"81637425.0be518","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1020,"wires":[["25dcba69.f32696"]]},{"id":"4b6a988f.dd1fb8","type":"http in","z":"81637425.0be518","name":"","url":"/Ameristar","method":"get","upload":false,"swaggerDoc":"","x":120,"y":980,"wires":[["56c4703e.ae7a1"]]},{"id":"25dcba69.f32696","type":"http response","z":"81637425.0be518","name":"","statusCode":"","headers":{},"x":770,"y":980,"wires":[]},{"id":"f041a767.e3e378","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c753f43.52f16","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"80580006.57731","wholemsg":"false"},{"id":"3732f7e4.7cf5b8","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"80580006.57731","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
