In Class Project 4/flows_SangLy-PC.json
[{"id":"81637425.0be518","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e113d1bf.56b3d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f852fc49.3f1ab","type":"twitter-credentials","z":"","screen_name":"1096487494080753664"},{"id":"f4d089cd.9b5e28","type":"twitter-credentials","z":"","screen_name":"1096487494080753664"},{"id":"ecbfdb11.d51be8","type":"twitter-credentials","z":"","screen_name":"1096487494080753664"},{"id":"d9c4293f.c0eec8","type":"twitter-credentials","z":"","screen_name":"1096487494080753664"},{"id":"5ab9dc54.f089f4","type":"twitter-credentials","z":"","screen_name":"1096487494080753664"},{"id":"697e7610.64c908","type":"twitter-credentials","z":"","screen_name":"1096487494080753664"},{"id":"810d7861.803378","type":"git-nodes-config","z":"","name":"","git":""},{"id":"ccdc9e92.390b","type":"git-nodes-config","z":"","name":"","git":"git@github.com:Sang-Ly/ICP-4.git"},{"id":"6e519b6.08deb64","type":"inject","z":"81637425.0be518","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["cd2baf45.f41eb"]]},{"id":"cd2baf45.f41eb","type":"openweathermap","z":"81637425.0be518","name":"","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"Jackson","language":"en","x":330,"y":180,"wires":[["7f768a54.62c6a4"]]},{"id":"6d2a466a.d6dc88","type":"debug","z":"81637425.0be518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":100,"wires":[]},{"id":"7f768a54.62c6a4","type":"function","z":"81637425.0be518","name":"extractTweetMessage","func":"\nmsg.payload = msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["6d2a466a.d6dc88","1d92d73e.64f289"]]},{"id":"1d92d73e.64f289","type":"twitter out","z":"81637425.0be518","twitter":"f852fc49.3f1ab","name":"Tweet","x":710,"y":280,"wires":[]}]