In Class Project 4/ICP 4
[{"id":"81637425.0be518","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e519b6.08deb64","type":"inject","z":"81637425.0be518","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["cd2baf45.f41eb"]]},{"id":"cd2baf45.f41eb","type":"openweathermap","z":"81637425.0be518","name":"","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"Jackson","language":"en","x":330,"y":180,"wires":[["7f768a54.62c6a4"]]},{"id":"6d2a466a.d6dc88","type":"debug","z":"81637425.0be518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":100,"wires":[]},{"id":"7f768a54.62c6a4","type":"function","z":"81637425.0be518","name":"extractTweetMessage","func":"\nmsg.payload = msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["6d2a466a.d6dc88","1d92d73e.64f289"]]},{"id":"1d92d73e.64f289","type":"twitter out","z":"81637425.0be518","twitter":"","name":"Tweet","x":710,"y":280,"wires":[]}]
